{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Load static content and custom CSS #}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Behavior', 'Microseconds'],
          ['Active', {{ active }}],
          ['Non-Active', {{ nonActive}}],
        ]);

        var options = {
          title: 'Active v. Non Active Activitiy',
          fontName: 'Playfair Display',
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>


{% block bootstrap4_content %}
	<div class="jumbotron">
        {% block title %}
		   <h1>Chart of Active v. Non Active Activitiy</h1>
		{% endblock %}
		<p>The graph below shows the breakdown between the two behaviors for the current animal</p>
	</div>
    
    <div class="container">

    	<div class="row">
			<div class="col-8">
				<div id="piechart" style="width: 900px; height: 500px;"></div>
			</div>
			<div class="col-4">
				<div class="card" style="width: 18rem;">
					<!-- TODO(amysorto): import picture by according animal -->
					<img class="card-img-top" src="{% static 'images/zebra.png' %}" alt="Card image cap">
					<div class="card-body">
				 	<h5 class="card-title"> {{ animal }}</h5>
					<p class="card-text">Fill in w/ Fun Facts</p>
				  </div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}